@model IEnumerable<Estacionamento.Models.VagaEstacionamento>

<div class="text-center">
    <h1 class="display-4">Vagas Cadastradas</h1>
</div>

<table class="table table-striped text-end">
    <thead>
        <tr>
            <th>Número</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vaga in Model)
        {
            <tr>
                <td>@vaga.NumeroVaga</td>
                <td>@vaga.Tipo</td>
                <td>
                    <a href="@Url.Action("Edit", "Vagas", new { id = vaga.Id })" class="btn btn-primary">Editar</a>
                    <a href="@Url.Action("Details", "Vagas", new { id = vaga.Id })" class="btn btn-info">Detalhes</a>
                    <a href="@Url.Action("Delete", "Vagas", new { id = vaga.Id })" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
